[Desktop Entry]
Name=Micro
GenericName=Text Editor
Comment=a terminal-based text editor that aims to be easy to use and intuitive, while also taking advantage of the capabilities of modern terminals
TryExec=micro
Exec=micro %F
Terminal=true
Type=Application
Keywords=Text;editor;
Icon=micro
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
