[Desktop Entry]
Name=Osu
GenericName=Rhythm Game
Comment=A free-to-win rhythm game. Rhythm is just a click away!
TryExec=/home/carlosvieira/Games/Osu/osu.AppImage
Exec=/home/carlosvieira/Games/Osu/osu.AppImage
Terminal=false
Type=Application
Keywords=Game
Icon=osu
Categories=Game
StartupNotify=false
