INCLUDE:/etc/lynx/lynx.cfg

# starting file
# STARTFILE:https://lynx.invisible-island.net/ # default starting file
# STARTFILE:file://localhost/~/ # local starting file example
# STARTFILE:https://lite.duckduckgo.com/lite # preferred searchtool
STARTFILE:file://localhost/~/.lynx/home.html

# no cookies
SET_COOKIES:FALSE
PERSISTENT_COOKIES:FALSE

# display long urls with ... 
SHORT_URL:TRUE

# vi mode
VI_KEYS_ALWAYS_ON:TRUE

# setting up the best editor ever
DEFAULT_EDITOR:vim

# this options disables textfields from being activated automatically when the
# cursor is positioned on them
# this works really well with vim's key motion
TEXTFIELDS_NEED_ACTIVATION:TRUE

# force lynx to use utf-8 and support cool emojis
CHARACTER_SET:utf-8

# notitle
NO_TITLE:TRUE

# no margins
# NO_MARGINS:TRUE

# set numbers next to links/fields to allow jumping to them immediatelly by
# typing those numbers
DEFAULT_KEYPAD_MODE:LINKS_AND_FIELDS_ARE_NUMBERED

# save bookmarks file in lynx's custom folder
DEFAULT_BOOKMARK_FILE:./.lynx/bookmarks.html

# color styles
COLOR_STYLE:bright-blue.lss

# jumpfile
JUMPFILE:/home/carlosvieira/.lynx/jumps.htm

# make links for all images
# MAKE_LINKS_FOR_ALL_IMAGES:TRUE

# set a default program to view specific mime type files
# VIEWER:image/png:eog %s:XWINDOWS
# VIEWER:video/mp4:firefox %s &:XWINDOWS

# default file retrieved when pressing 'i'
# index file: a file containing links to many sites
# DEFAULT_INDEX_FILE:http://scout.wisc.edu/

###################################################################################
### LYNX GUIDE: https://lynx.invisible-island.net/release/lynx_help/cattoc.html ###
### 	 REMEMBER TO CREATE THE ENV VARIABLE LYNX_CFG TO POINT TO THIS FILE     ###
###################################################################################
